# Dependencies
node_modules

# yarn error logs
yarn-error.log

# Environment varibales
.env

# Code coverage
coverage

.env-mixed
.env-local

logs
logs/*
docs
# Module analysis reports
module-dependency-graph.md
potential-circular-dependencies.md
