.bg-dark {
  background: $dimmed-background !important;
}

.bg-light {
  background: $light-dimmed-background !important;
}

p {
  word-break: break-word;
}

.breakable-text {
  word-break: break-word; /* Перенос по словам, если возможно */
  overflow-wrap: break-word; /* Перенос слов при достижении края */
  word-wrap: break-word; /* Поддержка в старых браузерах */
  hyphens: auto; /* Автоматический перенос со вставкой дефиса, если доступно */
}

.hover-card {
  cursor: pointer;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);

  &:hover {
    transform: scale(1.03);
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
  }
}
