// Темный градиент с минимальным затемнением и плавным переходом
$primary-gradient-dark: linear-gradient(100deg, adjust-color($primary, $lightness: 0%), adjust-color($primary, $lightness: -40%))

.bg-gradient-dark
  background: $primary-gradient-dark
  color: white

$dimmed-background       : rgba(0, 0, 0, .4) !default
$light-dimmed-background : rgba(255, 255, 255, .6) !default

