cpp/**/*.wasm
cpp/**/*.abi
!cpp/tests/test_contracts/**/*.wasm
!cpp/tests/test_contracts/**/*.abi
networks.sh
Testing/
docs/html/*
docs/xml/*
docs/node_modules/*
node_modules
build/*
blockchain-data/*
wallet-data/*
blocks/*
docs/html
docs/html2
docs/json
docs/node_nodules
docs/xml
