name: Build Docker Images

on:
  push:
    tags:
      - '*'

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v3
        with:
          ref: ${{ github.ref }}
          fetch-depth: 0
      
      - name: Debug info
        run: |
          echo "Текущая ветка:"
          git branch --show-current
          echo "Последние коммиты:"
          git log -n 3 --oneline
          echo "Проверяем файлы в директории components/desktop/src-ssr:"
          ls -la components/desktop/src-ssr/ || echo "Директория не найдена!"
          echo "Проверяем файлы в middlewares:"
          ls -la components/desktop/src-ssr/middlewares/ || echo "Директория middlewares не найдена!"
          
      - name: Set docker tags
        run: |
          if [[ $GITHUB_REF == refs/tags/* ]]; then
            TAG_NAME=${GITHUB_REF#refs/tags/}
            echo "DOCKER_TAG=$TAG_NAME" >> $GITHUB_ENV
            
            # Проверяем, является ли тег продакшн-тегом (не содержит alpha, beta, rc и т.д.)
            if [[ ! $TAG_NAME =~ -(alpha|beta|rc|test) ]]; then
              echo "IS_PRODUCTION_TAG=true" >> $GITHUB_ENV
              echo "Это продакшн тег, будем добавлять latest"
            else
              echo "IS_PRODUCTION_TAG=false" >> $GITHUB_ENV
              echo "Это не продакшн тег, latest не добавляем"
            fi
          else
            echo "DOCKER_TAG=latest" >> $GITHUB_ENV
            echo "IS_PRODUCTION_TAG=false" >> $GITHUB_ENV
          fi
          
      - name: Login to DockerHub
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}
          
      # Сначала собираем базовый образ с runtime
      - name: Build base image
        run: |
          docker build --target runtime -t dicoop/mono-base:${{ env.DOCKER_TAG }} .
          docker push dicoop/mono-base:${{ env.DOCKER_TAG }}
          
          # Если это продакшн тег, добавляем latest
          if [[ "${{ env.IS_PRODUCTION_TAG }}" == "true" ]]; then
            docker tag dicoop/mono-base:${{ env.DOCKER_TAG }} dicoop/mono-base:latest
            docker push dicoop/mono-base:latest
          fi
            
      # Создаем сервисные образы на основе базового
      - name: Build desktop image
        run: |
          echo "FROM dicoop/mono-base:${{ env.DOCKER_TAG }}" > Dockerfile.desktop
          echo "CMD [\"pnpm\", \"-F\", \"@coopenomics/desktop\", \"run\", \"start\"]" >> Dockerfile.desktop
          docker build -t dicoop/desktop:${{ env.DOCKER_TAG }} -f Dockerfile.desktop .
          docker push dicoop/desktop:${{ env.DOCKER_TAG }}
          
          if [[ "${{ env.IS_PRODUCTION_TAG }}" == "true" ]]; then
            docker tag dicoop/desktop:${{ env.DOCKER_TAG }} dicoop/desktop:latest
            docker push dicoop/desktop:latest
          fi
            
      - name: Build controller image
        run: |
          echo "FROM dicoop/mono-base:${{ env.DOCKER_TAG }}" > Dockerfile.coopback
          echo "CMD [\"pnpm\", \"-F\", \"@coopenomics/controller\", \"run\", \"start\"]" >> Dockerfile.coopback
          docker build -t dicoop/coopback:${{ env.DOCKER_TAG }} -f Dockerfile.coopback .
          docker push dicoop/coopback:${{ env.DOCKER_TAG }}
          
          if [[ "${{ env.IS_PRODUCTION_TAG }}" == "true" ]]; then
            docker tag dicoop/coopback:${{ env.DOCKER_TAG }} dicoop/coopback:latest
            docker push dicoop/coopback:latest
          fi
            
      - name: Build parser image
        run: |
          echo "FROM dicoop/mono-base:${{ env.DOCKER_TAG }}" > Dockerfile.cooparser
          echo "CMD [\"pnpm\", \"-F\", \"@coopenomics/parser\", \"run\", \"start\"]" >> Dockerfile.cooparser
          docker build -t dicoop/cooparser:${{ env.DOCKER_TAG }} -f Dockerfile.cooparser .
          docker push dicoop/cooparser:${{ env.DOCKER_TAG }}
          
          if [[ "${{ env.IS_PRODUCTION_TAG }}" == "true" ]]; then
            docker tag dicoop/cooparser:${{ env.DOCKER_TAG }} dicoop/cooparser:latest
            docker push dicoop/cooparser:latest
          fi
            
      - name: Build notificator image
        run: |
          echo "FROM dicoop/mono-base:${{ env.DOCKER_TAG }}" > Dockerfile.notificator
          echo "CMD [\"pnpm\", \"-F\", \"coop-notificator\", \"run\", \"start\"]" >> Dockerfile.notificator
          docker build -t dicoop/notificator:${{ env.DOCKER_TAG }} -f Dockerfile.notificator .
          docker push dicoop/notificator:${{ env.DOCKER_TAG }}
          
          if [[ "${{ env.IS_PRODUCTION_TAG }}" == "true" ]]; then
            docker tag dicoop/notificator:${{ env.DOCKER_TAG }} dicoop/notificator:latest
            docker push dicoop/notificator:latest
          fi
      
      - name: Build notifications image
        run: |
          echo "FROM dicoop/mono-base:${{ env.DOCKER_TAG }}" > Dockerfile.notifications
          echo "CMD [\"pnpm\", \"-F\", \"@coopenomics/notifications\", \"run\", \"sync\"]" >> Dockerfile.notifications
          docker build -t dicoop/notifications:${{ env.DOCKER_TAG }} -f Dockerfile.notifications .
          docker push dicoop/notifications:${{ env.DOCKER_TAG }}
          
          if [[ "${{ env.IS_PRODUCTION_TAG }}" == "true" ]]; then
            docker tag dicoop/notifications:${{ env.DOCKER_TAG }} dicoop/notifications:latest
            docker push dicoop/notifications:latest
          fi
                 
      # Отправка хука для деплоя
      - name: Trigger deployment webhook
        if: ${{ success() }}
        run: |
          if [[ $GITHUB_REF == refs/tags/*alpha* ]]; then
              # Хук для тестнета (alpha теги)
              curl -X POST ${{ vars.TESTNET_WEBHOOK_URL }} \
                -H 'Content-Type: application/json' \
                -d '${{ env.DOCKER_TAG }}'
          elif [[ $GITHUB_REF == refs/tags/* ]]; then
              # Хук для продакшена (остальные теги)
              curl -X POST ${{ vars.PRODUCTION_WEBHOOK_URL }} \
                -H 'Content-Type: application/json' \
                -d '${{ env.DOCKER_TAG }}'
          fi

      # Уведомление в Telegram об успехе
      - name: Telegram notify success
        if: ${{ success() }}
        run: |
          if [[ "${{ env.IS_PRODUCTION_TAG }}" == "true" ]]; then
            ADDITIONAL_INFO=" (с тегом latest)"
          else
            ADDITIONAL_INFO=""
          fi
          
          curl -s -X POST https://api.telegram.org/bot${{ secrets.TELEGRAM_BOT_TOKEN }}/sendMessage \
            -d chat_id=${{ secrets.TELEGRAM_CHAT_ID }} \
            -d text="✅ [GITHUB MONO] Успешная сборка контейнеров: $GITHUB_REPOSITORY ($GITHUB_REF) [${{ env.DOCKER_TAG }}]$ADDITIONAL_INFO"

      # Уведомление в Telegram об ошибке
      - name: Telegram notify failure
        if: ${{ failure() }}
        run: |
          curl -s -X POST https://api.telegram.org/bot${{ secrets.TELEGRAM_BOT_TOKEN }}/sendMessage \
            -d chat_id=${{ secrets.TELEGRAM_CHAT_ID }} \
            -d text="❌ [GITHUB MONO] Ошибка при сборке контейнеров: $GITHUB_REPOSITORY ($GITHUB_REF) [${{ env.DOCKER_TAG }}]"